<div class="page-search-main">
  <h1 class="search-page-title">站内搜索</h1>
  <div class="search-page-input-wrapper">
    <input
      type="search"
      id="search-page-input"
      placeholder="输入文章标题进行搜索..."
      autofocus
    />
  </div>
  <div id="search-page-results-container">
    <div class="search-init-tip">请在上方搜索框输入内容</div>
  </div>
</div>
