<section class="px-6 max-w-prose mx-auto md:px-0">
  <header class="py-4">
    <div class="pt-4 md:pt-6">
      <p class="text-3xl font-bold text-[var(--c-100)] mb-4"><%- page.title %></p>
    </div>
  </header>

  <article class="post-content prose m-auto dark:prose-invert">
    <%- page.content %>
  </article>
</section>
